{% extends 'base.html.twig' %}

{% block title %}Modifié mon mot de passe  {% endblock %}

{% block content %}
 <!-- Header-->
<img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-1.jpg" alt="" class="d-block w-100">     
<br>    
<br>    
<br>    
<h1> Modifier mon mot de passe - AUTOBOOST</h1>
<hr>
<a href="{{ path('account') }}">Retourner à mon compte</a>
    <br>
    <br>
    <br>   
    </hr>
    {% if notification %}
            <div class="alert alert-info">
    {{ notification }}
        </div>
    {% endif %}
    {{form(form)}}     

{% endblock %}