{% extends 'base.html.twig' %}

{% block content %}
 <!-- Header-->
<img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-1.jpg" alt="" class="d-block w-100"> 
<br>    
<br>    
<br>    
<h1>Inscriptions</h1>
{{form(form)}}
{% endblock %}
