{% extends 'base.html.twig' %}

{% block content %}
 <!-- Header-->
<img src="{{asset('assets/img/bmw-modified.jpeg')}}" alt="" class="d-block w-100"> 
<br>    
<br>    
<br>    
<h1>Inscriptions</h1>
{{form(form)}}
{% endblock %}
