{% extends 'base.html.twig' %}

{% block title %}Nous contacter - AUTOBOOST{% endblock %}

{% block content %}

<!-- Header-->
       <header class="bg-dark py-5">
           <div class="container px-4 px-lg-5 my-5">
               <div class="text-center text-white">
                   <h1 class="display-4 fw-bolder">Shop in style</h1>
                   <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
               </div>
           </div>
       </header>
   

    <h2>Nous contacter</h2>

    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous repondrons dans les meilleurs délais.</p>

    <div class="row">
    
        <div class="col-md-8">{{ form(form) }}</div>
        
        
        <div class="col-md-4">
        
            <strong>AUTOBOOST</strong>
            <hr>

            Vous pouvez nous contacter au :<br>
            05 96 79 61 97 <br>
           
            Ou nous rencontrer à l'adresse suivante :<br>
            ZA Bois Carré <br>
            97232 Le Lamentin <br>
            Martinique <br>
            <hr>
            atb@wipexcorp.com <br>
            <hr>
            https://fr-fr.facebook.com/pages/category/Automotive-Customization-Shop/AUTOBOOST-256129727770285/ <br>
        
        </div>

    </div>

{% endblock %}
