{% extends 'base.html.twig' %}

{% block title %}Nous contacter - AUTOBOOST{% endblock %}

{% block content %}

    <h2>Nous contacter</h2>

    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous repondrons dans les meilleurs délais.</p>

    <div class="row">
    
        <div class="col-md-8">{{ form(form) }}</div>
        
        
        <div class="col-md-4">
        
            <strong>AUTOBOOST</strong>
            <hr>

            Vous pouvez nous contacter au :<br>
            05 96 79 61 97 <br>
           
            Ou nous rencontrer à l'adresse suivante :<br>
            ZA Bois Carré <br>
            97232 Le Lamentin <br>
            Martinique <br>
            <hr>
            atb@wipexcorp.com <br>
            <hr>
            https://fr-fr.facebook.com/pages/category/Automotive-Customization-Shop/AUTOBOOST-256129727770285/ <br>
        
        </div>

    </div>

{% endblock %}
